.DealBtn{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.DealBtn a{
    background-color: green;
    height: 3rem;
    border-radius: 2rem;
    text-decoration: none;
    padding-inline: 2rem;
    padding-top: 0.3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}