@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --border-radius: 0.4rem;
}

.MainScammer {
  margin-block: 2rem 4rem;
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-style: oblique;
}


.MainScammer h1 {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.card {
  height: 38rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(100% - 30rem);
  margin-inline: auto;
  border-radius: var(--border-radius);
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  border: 2px solid red
}

.firstInner {
  display: flex;
  gap: 1rem;
}

.firstInner .img {
  height: 100%;
  width: 30rem;
  border-radius: 0;
}

.firstInner .img img {
  width: 100%;
  height: 100%;
}
.firstInfo{
  position: relative;
  left: 3rem;
}
.firstInfo,
.secondInfo {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 4rem;
  width: 16rem;
}

.firstInfo h1 {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
  text-align: start;
}

.secondInfo p {
  font-size: 1.6rem;
}

.secondInner {
  width: 20rem;
  height: 100%;
  padding-block: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.socialProfile {
  display: flex;
  flex-direction: column;
  gap: 0.51rem;
}

.socialProfile h1 {
  font-size: 2rem;
  text-align: start;
  font-weight: 600;
  text-transform: capitalize;
}

.socialProfile a {
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
  left: 3.5rem;
}

.secondInner button {
  background-color: #faaa1f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, #faaa1f 0px 3px 7px -3px;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  height: 3.5rem;
  width: 8rem;
  border-radius: 0.5rem;
}

@media (width < 1100px) {
  .secondInner {
    width: 20%;
    height: 100%;
    position: relative;
    right: 2rem;
    align-items: end;
  }
}

@media (width < 992px) {
  .card {
    height: 38rem;
    width: calc(100% - 10rem);
    margin-inline: auto;
  }
}

@media (width < 750px) {
  .card {
    width: calc(100% - 5rem);
  }
}

@media (width < 680px) {
  .card {
    height: 100% !important;
    display: flex;
    width: calc(100% - 5rem);
    flex-direction: column;
    margin-top: 3rem;
    overflow: scroll !important;
    justify-content: space-between;
  }

  .firstInner {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .firstInner .img {
    height: 20rem;
    width: 100%;
  }

  .firstInfo,
  .secondInfo {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    padding-top: 0rem;
    padding-inline: 1rem;
    width: 100%;
  }

  .socialProfile {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }

  .socialProfile h1 {
    font-size: 2rem;
    text-align: start;
    font-weight: 600;
    text-transform: capitalize;
  }

  .socialProfile a {
    text-decoration: none;
    font-size: 1.7rem;
    position: relative;
    left: 0;
  }

  .secondInner button {
    background-color: #faaa1f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, #faaa1f 0px 3px 7px -3px;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
    height: 3rem;
    padding: 0.7rem 1rem;
    width: 8rem;
    border-radius: 0.5rem;
  }

  .secondInner {
    width: 100%;
    height: 100%;
    padding-inline: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (width < 620px) {
  .firstInfo h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .secondInfo p {
    font-size: 1.2rem;
  }
}

@media (width < 470px) {
  .card {
    width: calc(100% - 1rem);
  }

  .firstInfo,
  .secondInfo {
    gap: 2rem;
    padding-inline: 1rem;
  }
}

@media (width < 370px) {
  .card {
    width: calc(100% - 0.5rem);
  }

  .firstInfo,
  .secondInfo {
    gap: 1rem;
    padding-inline: 1rem;
  }
}
